<html>
    <head>
        <meta charset='utf-8' />
        <title>Example App</title>
    </head>
    <body>
        <form action='/api/countries' method='post'>
            <label for='name'>Country</label>
            <input type='text' name='name' />
            <label for='alpha2Code'>alpha2Code</label>
            <input type='text' name='alpha2Code' />
            <label for='alpha3Code'>alpha3Code</label>
            <input type='text' name='alpha3Code' />
            <label for='visited'>visted</label>
            <input type='radio' name='visited' value='true' />
            <label for='visited'>not visited</label>
            <input type='radio' name='visited' value='false' />
            <button type='submit'>add country</button>
        </form>

        <table>
            {{#each list}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.alpha2Code}}</td>
                    <td>{{this.alpha3Code}}</td></tr>
            {{/each}}
        </table>

    </body>
</html>